---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    {% if page.start_date  %}
                        <!-- Get distance between start and end dates, convert to best unit -->
                        {%   assign start = page.start_date | date: '%s'  %}
                        {%   assign end = page.end_date | date: '%s'  %}
                        {%   assign seconds_worked = end | minus: start | date:"%s" %}
                        {%   assign hours_worked = seconds_worked | divided_by: 60 | divided_by: 60 %}
                        {%   assign days_worked = hours_worked | divided_by: 24  %}
                        {%   assign months_worked = days_worked | divided_by: 30  %}
                        {%   assign years_worked = months_worked | divided_by: 12  %}
                    <!-- divided_by rounds down, so shortest is ~1 month -->
                    {% if months_worked < 1 %}
                        {%   assign length_worked = 1 %}
                        {%   assign units_worked = "Month" %}
                    <!-- if worked over 1 year, show as years -->
                    {% elsif months_worked > 12 %}
                        {%   assign length_worked = years_worked %}
                        {%   assign units_worked = "Year(s)" %}
                    {% else %}
                        {%   assign length_worked = months_worked %}
                        {%   assign units_worked = "Month(s)" %}
                    {% endif %}

                    <h4>{{ page.start_date | date_to_string }} - {{ page.end_date | date_to_string }}: ~{{length_worked}} {{units_worked}}</h4>
                    {% elsif page.work_month %}
                    <h4>{{ page.work_month }}</h4>
                    {% else %}
                    <!-- {%   assign today = site.time | date: '%s'      %} Could use today -->
                    <h4>{{ page.date | date_to_string }} - Present </h4>
                    <!-- assumes when only date is -> present -->
                    {% endif %}
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/employment/">
                    {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
